process {
    executor = 'slurm'

    withLabel: process_low {
        cpus = 2
        memory = 20.GB
        time = '12h'
    }

    withLabel: process_medium {
        cpus = 1
        memory = 1000.GB
        time = '48h'
    }

    withLabel: process_high {
        cpus = 8
        memory = 350.GB
        time = '24h'
    }

    withName: 'NFCORE_NANOSEQ:NANOSEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
        cpus = 2
        memory = 20.GB
        time = '9h'
        container = '/gpfs/commons/groups/singh_lab/users/pmaddhesiya/NEXTFLOW/nf_core_git_repo/singularity_files/quay.io-biocontainers-python-3.8--1.img'
    }

    withName: 'NFCORE_NANOSEQ:NANOSEQ:BAMBU' {
        cpus = 4
        memory = 64.GB
        time = '24h'
        container = '/gpfs/commons/groups/singh_lab/users/pmaddhesiya/NEXTFLOW/nf_core_git_repo/singularity_files/depot.galaxyproject.org-singularity-bioconductor-bambu-3.0.8--r42hc247a5b_0.img'
    }

    withName: 'NFCORE_NANOSEQ:NANOSEQ:MULTIQC' {
        container = '/gpfs/commons/groups/singh_lab/users/pmaddhesiya/NEXTFLOW/nf_core_git_repo/singularity_files/depot.galaxyproject.org-singularity-multiqc-1.12--pyhdfd78af_0.img'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/gpfs/commons/groups/singh_lab/users/pmaddhesiya/NEXTFLOW/Full_Pipeline_Run/singularity_cache'
    runOptions = '--no-home --cleanenv --bind /gpfs:/gpfs'
}

params {
    outdir = '/gpfs/commons/groups/singh_lab/users/pmaddhesiya/NEXTFLOW/Full_Pipeline_Run/output/lrseq_output_brain_r1'
    max_memory = '1000.GB'
    max_cpus = 16
    max_time = '120.h'

    skip_demultiplexing = true
    skip_alignment = true
    skip_fastqc = true
    skip_nanoplot = true
    skip_fusion_analysis = true
    skip_differential_analysis = true

    // Bambu-specific settings
    bambu_args = '--lowMemory --ncore 4 --discovery'

    // ✅ Required paths for Bambu
    genome_fasta = '/gpfs/commons/groups/singh_lab/users/pmaddhesiya/hg38/GRCh38.chrOnly.genome.fa'
    gtf          = '/gpfs/commons/groups/singh_lab/users/pmaddhesiya/hg38/gencode.v42.annotation.gtf'

    // ✅ Ignore warnings for custom params
    schema_ignore_params = 'gtf,genome_fasta,bambu_args'
}
